$primary-color: #444;
$secondary-color: #eece1a;
$show-home-image: true;
$home-image: url(../img/background.jpg);
$background-opacity: 0.9;


// create a mixin 'easeOut'
@mixin easeOut {
    transition: all 0.5s ease-out;
}

@mixin background {
    @if $show-home-image {

        // This is working because the mixin 'background' has been placed in the body
        &#bg-img {
            background: $home-image;
            // Background doesn't scroll
            background-attachment: fixed;
            background-size: cover;

            &:after {
                content: '';
                // Cover the whole space
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                background-color: rgba($primary-color, $background-opacity);
            }
        }
    }
}