@import 'config';
@import 'menu';

* {
    box-sizing: border-box;
}

body {
    @include background;
    background: $primary-color;
    color: set-text-color($primary-color);
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

h1,
h2,
h3 {
    font-weight: 400;
    margin: 0;

    &.lg-heading {
        font-size: 6rem;
    }

    &.sm-heading {
        background: rgba(lighten($primary-color, 2), 0.5);
        margin-bottom: 1rem;
        padding: 0.2rem 1rem;
    }
}

a {
    color: set-text-color($primary-color);
    &:hover {
      color: $secondary-color;
      // Use here the previously defined mixin 'easeOut'
      @include easeOut;
  }
}

header {
    // The header should be always at the top
    position: fixed;
    // Always at the front
    z-index: 2;
    width: 100%;
}

.text-secondary {
    color: $secondary-color;
}

.text-italic {
    font-style: italic;
}

main {
    padding: 4rem;
    // The footer has to stick to the bottom of the page, regardless of the amount of content on the page
    min-height: calc(100vh - 60px);

    &#home {
        // Don't allow scrolling
        overflow: hidden;

        h1 {
            margin-top: 20vh;
        }
    }

    // This style applies to the 'icons' within 'main'
    .icons {
        margin-top: 1rem;

        a {
            padding: 0.4rem;

            &:hover {
                color: $secondary-color;
                // Use here the previously defined mixin 'easeOut'
                @include easeOut;
            }
        }
    }
}

.about-info {
    display: grid;
    grid-gap: 30px;
    grid-template-areas:
        'bioImage bioIntro bioSkills'
        'job1 job2 job3';
    grid-template-columns: repeat(3, 1fr);

    .bio-image {
        border: $secondary-color 3px solid;
        border-radius: 50%;
        grid-area: bioImage;
        margin: auto;
    }

    .bio {
        font-size: 1rem;
        text-align: left;

        .bio-intro {
            grid-area: bioIntro;
        }

        .bio-skills {
            grid-area: bioSkills;
        }

    }

    .job {
        font-size: 1rem;
    }

    .job-1 {
        grid-area: job1;
    }

    .job-2 {
        grid-area: job2;
    }

    .job-3 {
        grid-area: job3;
    }

    .job {
        background: lighten($primary-color, 5);
        padding: 0.9rem;
        border-bottom: $secondary-color 5px solid;
        text-align: left;
        h1, h2, h3, h4, h5, h6 {
            font-weight: 600;
            margin-block-start: 0;
            margin-block-end: 0.4rem;
        }
    }
}

// Projects page
.projects {
    column-gap: 30px;

    &__item {

        display: inline-block;
        margin-bottom: 30px;

        img {
            width: 100%;
            border: 3px #fff solid;

            &:hover {
                opacity: 0.5;
                border-color: $secondary-color;
                @include easeOut;
            }
        }
    }


}

// Button style (projects page)
.btn {
    display: block;
    padding: 0.5rem 1rem;
    border: 0;

    &:hover {
        background: $secondary-color;
        color: set-text-color($secondary-color);
    }
}

.btn-dark {
    @extend .btn;
    background: darken($primary-color, 50);
    color: #fff;
}

.btn-light {
    @extend .btn;
    background: lighten($primary-color, 50);
    color: #333;
}

// Contact page
.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5rem;

    div {
        font-size: 2rem;
        border: 3px #fff solid;
        padding: 1.5rem 2.5rem;
        margin-bottom: 3rem;
        @include easeOut;
    }
}

#main-footer {
    text-align: center;
    padding: 1rem;
    background: darken($primary-color, 10);
    color: set-text-color($primary-color);
    height: 60px;
}

@import 'mobile';